<ion-content>
  <ion-header>
    <ion-toolbar> 
      <ion-buttons slot="start">
        <ion-back-button default-href="/MIS-EVENTOS">
        </ion-back-button>
      </ion-buttons>
    <p>Crear Evento</p>
    </ion-toolbar>
  </ion-header>
  
  <br> 
  <ion-card>
    <ion-card-header>
      <ion-card-title>Crear Evento</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-input  id="nombreEvento" required label="Nombre del Evento :" label-placement="floating" fill="outline"  placeholder=" Nombre del Evento"></ion-input>
      </ion-item><br> 

      <ion-item >
          <ion-select  id="tipoEvento" required label="Tipo" label-placement="floating" fill="outline" [(ngModel)]="tipoEventoSeleccionado">
          <ion-select-option  *ngFor="let tipoEvento of tipoEventos" [value]="tipoEvento">{{tipoEvento}}</ion-select-option>
        </ion-select>
      </ion-item><br> 

      <ion-item>
        <ion-input id="fechaInicio" label="FECHA INICIO :"  placeholder="Tipo de Evento" label-placement="floating" fill="outline" ></ion-input>
      </ion-item><br> 

      <ion-item>
        <ion-input id="fechaFin"  label="FECHA FIN :"  placeholder="Tipo de Evento" label-placement="floating" fill="outline"  ></ion-input>
      </ion-item><br> 

      <ion-item>
        <ion-input id="lugar" label="LUGAR :"   placeholder="Tipo de Evento" label-placement="floating" fill="outline"  ></ion-input>
      </ion-item><br> 

      <ion-item>
        <ion-input  id="cupo" label="CUPO MAXIMO :"  placeholder="Cupo Maximo" label-placement="floating" fill="outline"  ></ion-input>
      </ion-item><br> 

      <ion-item>
        <ion-textarea  id="descripcion" label="DESCRIPCION :"  placeholder="Descripción del Evento" label-placement="floating" fill="outline" ></ion-textarea>
      </ion-item>
      <br>

    </ion-card-content>
  </ion-card>
  <br> 
  <ion-card>
    <ion-card-header>
      <ion-card-title>Invitados Epeciales:</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>

        <ion-item class="vip">
          <ion-button fill="clear"> Perfil</ion-button> FERNANDO ALONSO MARTINEZ HERNANDEZ 
        </ion-item>

      </ion-list>
      <br><br> 
    </ion-card-content>
  </ion-card>

 <br> <br> <br> 
  <ion-button [routerLink]="['/MIS-EVENTOS']" class="crear" (click)="agregarEvento()">Crear Evento</ion-button>

<br><br>
</ion-content>
