<ion-content>
  <ion-header>
    <ion-toolbar> 
      <ion-buttons slot="start">
        <ion-back-button default-href="/MIS-EVENTOS"> </ion-back-button>
      </ion-buttons>Editar Evento
    </ion-toolbar>
  </ion-header>
  <br>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Editar evento</ion-card-title>
    </ion-card-header>

    <ion-card-content *ngFor="let miEvento of evento">
      <ion-item>
        <ion-input  id="nombreEvento" required label="{{miEvento.nombreEvento}}" label-placement="floating" fill="outline"  placeholder=""></ion-input>
      </ion-item><br> 

      <ion-item >
          <ion-select  id="tipoEvento" required label="Tipo" label-placement="floating" fill="outline" [(ngModel)]="tipoEventoSeleccionado">
          <ion-select-option  *ngFor="let tipoEvento of tipoEventos"[value]="tipoEvento">{{tipoEvento}}</ion-select-option>
        </ion-select>
      </ion-item><br> 

      <ion-item>
        <ion-input id="fechaInicio" label="{{miEvento.fechaInicio}}"  placeholder="" label-placement="floating" fill="outline" > </ion-input>
      </ion-item><br> 

      <ion-item>
        <ion-input id="fechaFin"  label="{{miEvento.fechaFin}}"  placeholder="" label-placement="floating" fill="outline"></ion-input>
      </ion-item><br> 

      <ion-item>
        <ion-input id="lugar" label="{{miEvento.lugar}}"   placeholder="" label-placement="floating" fill="outline"> </ion-input>
      </ion-item><br> 

      <ion-item>
        <ion-input  id="cupo" label="{{miEvento.cupo}}"  placeholder="" label-placement="floating" fill="outline"  ></ion-input>
      </ion-item><br> 

      <ion-item>
        <ion-textarea  id="descripcion" label="{{miEvento.descripcion}}"  placeholder="" label-placement="floating" fill="outline" ></ion-textarea>
      </ion-item>
      <br>

    </ion-card-content>
  </ion-card>
  <br>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Invitados Epeciales: </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>

        <ion-item *ngFor="let invitadoEspecial of invitadosEspeciales">
            <ion-label><ion-button fill="clear" size="small"> Perfil</ion-button>{{invitadoEspecial.nombre}} {{invitadoEspecial.primerApellido}}</ion-label>
        </ion-item>

      </ion-list>
      <br><br> 
    </ion-card-content>
  </ion-card>

  <br>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Invitados :</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let invitado of invitados">
          {{invitado.nombre}} {{invitado.primerApellido}}
          <ion-button slot="end" fill="clear" >Eliminar</ion-button>
        </ion-item>

      </ion-list>
      <br><br>
      <ion-button expand="block" [routerLink]="['/agregar_invitados']">Agregar Invitados </ion-button>
    </ion-card-content>
  </ion-card>
  <br><br>
  <ion-button [routerLink]="['/MIS-EVENTOS']" class="guardar" (click)="editarEvento()">Guardar Cambios</ion-button>
</ion-content>
<br><br>
