<ion-content>
  <ion-header>
    <ion-toolbar> 
      <ion-buttons slot="start">
        <ion-back-button default-href="#"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngFor="let miEvento of evento">
    <ion-card-header>
      <ion-card-title>NOMBRE EVENTO: {{miEvento.nombreEvento}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <ion-item>
        <ion-label>TIPO: {{miEvento.tipoEvento}}</ion-label>
      </ion-item>
      
      <ion-item>
        <ion-label>FECHA INICIO: {{miEvento.fechaInicio}}</ion-label> 
      </ion-item>

      <ion-item>
        <ion-label>FECHA FIN: {{miEvento.fechaFin}}</ion-label> 
      </ion-item>

      <ion-item>
        <ion-label>LUGAR: {{miEvento.lugar}}</ion-label>
      </ion-item>
        
      <ion-item>
        <ion-label>CUPO: {{miEvento.cupo}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">DESCRIPCION: {{miEvento.descripcion}}</ion-label>
      </ion-item>
    <br>

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Invitados Epeciales: </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Pokémon Yellow</ion-label>
        </ion-item>

      </ion-list>
      
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Invitados :</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Pokémon Yellow</ion-label>
        </ion-item>

      </ion-list>
      
    </ion-card-content>
  </ion-card>

</ion-content>
