<ion-content>
<ion-header>
  <ion-toolbar> 
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
  </ion-buttons>
    <ion-segment  value="MIS-EVENTOS">
      <ion-segment-button (ionChange)="segmentChanged($event)" value="EVENTOS" routerLink="/home">
        <ion-label>EVENTOS</ion-label>
      </ion-segment-button>
      <ion-segment-button value="MIS-EVENTOS">
        <ion-label>MIS EVENTOS</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-card *ngFor="let miEvento of misEventos">
  <ion-card-header>
    <ion-card-title>EVENTO: {{miEvento.nombreEvento}}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-card-subtitle>Tipo: {{miEvento.tipoEvento}}</ion-card-subtitle>
    <p>Descripción: {{miEvento.descripcion}}</p>
    <p>Cupo: {{miEvento.cupo}}</p>
    <p>Lugar:  {{miEvento.lugar}}</p>
    <p>Fecha de inicio: {{miEvento.fechaInicio}}</p>
    <p>Fecha de fin: {{miEvento.fechaFin}}</p>
  </ion-card-content>
  <ion-button fill="clear" routerLink="/editar_evento" (click)="mandarIdEvento(miEvento.idEvento)"> Editar</ion-button>
  <ion-button fill="clear" (click)="eliminarEvento(miEvento.idEvento); actualizarVista()"> Eliminar</ion-button>
</ion-card>
<ion-fab vertical="bottom" horizontal="end" slot="fixed" class="ion-fab-fixed" >
  <ion-fab-button routerLink="/crear_evento" >
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

</ion-content>
