<ion-content>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-segment  value="EVENTOS">
      <ion-segment-button value="EVENTOS">
        <ion-label>EVENTOS</ion-label>
      </ion-segment-button>
      <ion-segment-button (ionChange)="segmentChanged($event)" value="MIS-EVENTOS"  routerLink="/MIS-EVENTOS">
        <ion-label>MIS EVENTOS</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-card >
<ion-card-header>
  <ion-card-title>EVENTO: </ion-card-title>
</ion-card-header>

<ion-card-content>
  <ion-card-subtitle>Dependencia:</ion-card-subtitle>
  <ion-card-subtitle>Tipo:</ion-card-subtitle>
  <p>Descripción: </p>
  <p>Cupo: </p>
</ion-card-content>
<ion-button fill="clear" routerLink="/detalle_evento"> Más informacion</ion-button>
</ion-card>
</ion-content>
