<ion-card>

  <ion-card-header>
    <ion-card-title>REGISTRO</ion-card-title>
  </ion-card-header>

  <ion-card-content>

    <ion-item class="custom-input">
      <ion-input  id="Nombre" required label="Nombre :" label-placement="floating" fill="outline" >  </ion-input>
     </ion-item>
     <br>

      <ion-item class="custom-input">
        <ion-input  id="PrimerApellido" required label="Primer Apellido :"  label-placement="floating" fill="outline" >  </ion-input>
       </ion-item>
       <br>

       <ion-item class="custom-input">
        <ion-input  id="SegundoApellido" required label="Segundo Apellido :" label-placement="floating" fill="outline" >  </ion-input>
       </ion-item>
       <br>

    <ion-item class="custom-input">
      <ion-label>Dependencia</ion-label>
      <ion-select id="Dependencia" required label="Seleccionar" label-placement="floating" fill="outline">
        <ion-select-option value="opcion1">Facultad de Ciencias Biológicas</ion-select-option>
        <ion-select-option value="opcion2">Facultad de Ciencias Fisicos Matematicas - "FCFM"</ion-select-option>
        <ion-select-option value="opcion3">Facultad de Ciencias Químicas</ion-select-option>
        <ion-select-option value="opcion1">Facultad de Ingeniería Civil</ion-select-option>
        <ion-select-option value="opcion2">Facultad de Ingeniería Mecánica y Eléctrica</ion-select-option>
        <ion-select-option value="opcion3">Facultad de Arquitectura</ion-select-option>
      </ion-select>
    </ion-item>
     <br>

      <ion-item class="custom-input">
        <ion-input  id="NombreUsuario" required label="Usuario: " label-placement="floating" fill="outline" ></ion-input>
       </ion-item>
       <br>

       <ion-item class="custom-input">
        <ion-input  id="password" required label="Contraseña:" type="password" label-placement="floating" fill="outline" >  </ion-input>
       </ion-item>
      <br>

      <button [routerLink]="['/login']" class="registro" >Registrarse</button>

      </ion-card-content>
</ion-card>

<ion-footer >
  <ion-toolbar>
      <ion-buttons >
          <ion-button [routerLink]="['/login']" > ¿Ya tienes una cuenta?</ion-button>
          <ion-button [routerLink]="['/login']" class="registrate"> Inicia Sesion</ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-footer>
